page-estabelecimento-dados {
  .slides {
    height: auto;
  }

  .titulo {
    color: rgb(134, 134, 134);
    font-size: 17px;
    text-align: center;
    font-weight: 500;
  }

  .sub-titulo {
    color: rgb(134, 134, 134);
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
  }
}
